 
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-top: 200px; padding-bottom: 15px; " >
<div id="main">
    <style>
    #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#ffffff; 
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
} 
		label,p{
		color:white;
		}
    </style>
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>
<h1 id="cmsms_heading_56be4d92effeb" class="cmsms_heading"></h1>
<div id="cmsms_row_56be4da60c692" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_row_56be4d9d8de1c" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
<h3 id="cmsms_heading_56be4d9d8e1b4" class="cmsms_heading" translate="Conc.Zone">Zone Upload</h3><div class="cmsms_text">
<p translate="Conc.conf">Pour participer a ce concour veuillez importez votre pièce jointe puis cliquer sur Valider participation dans l'onglet à droite. </p>
<h3 translate="Conc.NB">NB: si vous ne validez pas votre participation à droite, la piéce jointe ne sera pas prise en considération.</h3>
</div>
<div id="cmsms_divider_56be4d9d8e394" class="cmsms_divider solid"></div>
<h3 id="cmsms_heading_56be4d9d8e44b" class="cmsms_heading" translate="Conc.import">Importez votre image</h3>
<div class="cmsms_contact_form"><div class="cmsms-form-builder">
<div class="cmsms_notice cmsms_notice_success cmsms_theme_icon_check success_box" style="display:none;">
<div class="notice_icon"></div>
<div class="notice_content">
<p>Thank You! <br />Your message has been sent successfully.</p>
</div>
</div>

    <script>
   //Program a custom submit function for the form
$("form#data").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://bledi--ndhifa.herokuapp.com/images/add',
    type: 'POST',
    data: formData,
    async: true,
    cache: false,
    contentType: false,
    processData: false,
    success: function (returndata) {
      
      $('#created').val(returndata);
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#data")).scope();
        scope.upVote(returndata,function(){
  
    });
        alert("votre image a ete ajouté");
       /*window.location.reload();*/
    }
     
      
      
  });
 
  return false;
});
    
    </script>
    
<form ng-controller="comuploadController" id="data">
<input type="text" id="created" ng-model="image" hidden/>
    <input type="text"  
value ="{{$storage.user}}" name="owner" ng-model="owner" hidden/>
    <div class="form_info cmsms_input">
	<label for="cmsms_your_email" translate="Conc.Titre">Titre<span class="color_2">*</span></label>
	<div class="form_field_wrap">
		<input type="text" size="200" name="title" ng-model="title" required>
	</div>
</div>
    <div class="form_info cmsms_input">
		 		<label for="cmsms_your_email">Image<span class="color_2">*</span></label>
		 		<div class="form_field_wrap">
		 			<input type="file" size="200" name="file" class="form-control" required>
		 		</div>
		 	</div>
    
      <!--<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Upload an Image
		</h3>
	</div>
	<form action="http://localhost:3000/images/aj"  method ="post" enctype="multipart/form-data">
		 <div class="panel-body form-horizontal">
		 	<div class="form-group col-md-12">
		 		<label for="thumbnail" class="col-sm-2 controler-label">Browse:</label>
		 		<div class="col-md-10">
		 			<input type="file" name="file" class="form-control">
		 		</div>
		 	</div>
		 	<div class="form-group col-md-12">
		 		<label for="title" class="col-sm-2 controler-label">Title:</label>
		 		<div class="col-md-10">
		 			<input type="text" name="title" class="form-control">
		 		</div>
		 	</div>
		
		 	<div class="form-group col-md-12">
		 		<div class="col-md-12 text-right">
		 			<button type="submit" id="login-btn" class="btn btn-success" type="button" value="post"><i class="fa fa-loud-upload"></i>Upload Image</button>
		 		</div>
		 	</div>

		 </div>
	</form>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Newest Images
			</h3>
		</div>
		<div class="panel-body">
			
			<div class="col-md-4 text-center" style="padding-bottom: 1em;">
				<a href="/images/{{uniqueId}}"><img src="/public/uploads/{{link}}" alt="{{title}}" style="width: 175px; height:175px;" class="img-thumbnail"></a>
			</div>
		
		</div>
	</div>
</div>  
-->


<div class="cl"></div>
<div class="loading"></div>
<div class="form_info submit_wrap">
    <input class="btn btn-primary pull-right" type="submit" translate="Conc.Valider" value="Valider" >
			
</div>
<div class="cl"></div>
</form>
    
        <!--<form ng-controller="addBlogController" class="form-horizontal col-sm-offset-1">
							<div class="form-group">
								<textarea class="form-control" ng-model="title"></textarea>
							</div>
            <div class="form-group">
								<textarea class="form-control" ng-model="Description"></textarea>
							</div>
							<input class=" pull-right btn btn-default" type="submit" value="Comment" ng-click="addBlog()">
                                   ngclick="addComment(topic.post.indexOf(post))"
						</form>-->
    
</div></div>
</div>
</div>
</div>
</div>
</div>
</div>  
     </div></div></div></div></div></div></div>
</div>
                                        
           