
<div ng-controller="topicController">

<div id="middle">
  <div class="cmsms_breadcrumbs">
<!--    <nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/dashboard">Dashboard</a></li>
				<li><a style="cursor:pointer;" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</nav>-->
     </div>
  <div class="middle_inner">
    <div class="content_wrap r_sidebar">
      <!--_________________________ Start Content _________________________ -->
      <div class="content entry" role="main">
       
		<div class="container" >
	<div class="#cmsms_row_55531400bdf60">
	<div class="cmsms_column one_half">
  <h1 class="cmsms_post_title entry-title">Sujet de conversation</h3>
  <h3 id="cmsms_heading_55531400bcb68" class="cmsms_heading">Categorie : {{topic._category.name}} </h3>
<button class="btn btn-danger" ng-show="topic._user.name==user"  ng-click="delete(topic._id)">Delete </button>  <div class="cmsms_quotes_slider_wrap">
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#cmsms_quotes_slider_55531400bcbf3").owlCarousel({
          singleItem: true,
          autoPlay: false,
          stopOnHover: true,
          pagination: false,
          navigation: false,
          navigationText: ["<span class=\"cmsms_prev_arrow\"></span>", "<span class=\"cmsms_next_arrow\"></span>"]
        });
      });
    </script>
     <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#cmsms_quotes_slider_55531400bcbf7").owlCarousel({
          singleItem: true,
          autoPlay: false,
          stopOnHover: true,
          pagination: false,
          navigation: false,
          navigationText: ["<span class=\"cmsms_prev_arrow\"></span>", "<span class=\"cmsms_next_arrow\"></span>"]
        });
      });
    </script>
     <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#cmsms_quotes_slider_55531400bcbf8").owlCarousel({
          singleItem: true,
          autoPlay: false,
          stopOnHover: true,
          pagination: false,
          navigation: false,
          navigationText: ["<span class=\"cmsms_prev_arrow\"></span>", "<span class=\"cmsms_next_arrow\"></span>"]
        });
      });
    </script>
    <div id="cmsms_quotes_slider_55531400bcbf3" class="cmsms_quotes_slider owl-carousel">
      <div class="cmsms_quote">
        <article class="cmsms_quote_inner">
          <div class="quote_content">
            <h4>{{topic.text}}</h4>
            <p>{{topic.description}}</p>
          </div>
          <figure class="quote_image">
            <img width="200" height="200" src="img/images/thumbnail_Michael_Linden.jpg" class="attachment-thumbnail" alt="6844805970_8dc4bcdeb4_b99" />
          </figure>
          <div class="wrap_quote_title">
            <h6 class="quote_title">{{topic._user.name}}</h6>
            <span class="quote_subtitle">user@mail.com</span>
          </div>
        </article>
      </div>
      
    </div>
  </div>
</div>
</div>
		<div class="row">
		
			<div class="col-sm-10">
					<h3>Repondre à ce sujet</h3>

				<form class="form col-sm-8">
				<div class="form-group">
					<textarea rows="4" class="form-control"ng-model="newPost.text"></textarea>
				</div>
					<input class="btn btn-default pull-right" type="submit" value="post" ng-click="addPost()">
				</form>
			</div>
		</div>
		<div class="row">
			<hr>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="col-sm-8" ng-repeat="post in topic.post | orderBy: 'created_at':true | filter:filtername">
					<div class="row">
<div id="cmsms_quotes_slider_55531400bcbf7" class="cmsms_quotes_slider owl-carousel">
      <div class="cmsms_quote">
        <article class="cmsms_quote_inner">
          <div class="quote_content">
            <p>{{post.text}}</p>
          </div>
          <figure class="quote_image">
            <img width="200" height="200" src="img/images/thumbnail_Michael_Linden.jpg" class="attachment-thumbnail" alt="6844805970_8dc4bcdeb4_b99" />
          </figure>
          <div class="wrap_quote_title">
            <h6 class="quote_title">{{post._user.name}}</h6>
            <span class="quote_subtitle">user@mail.com</span>
          </div>
        </article>
      </div>
      
    </div>

	<div class="pull-right">
                        
							<button class="btn btn-success" ng-hide="post._user.name==user.name" ng-click="upVote(topic.post.indexOf(post))">{{post.upvote}}&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></button>

							<button class="btn btn-danger" ng-hide="post._user.name==user.name" ng-click="downVote(topic.post.indexOf(post))">{{post.downvote}}&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button>
						</div>
					</div><br>
					<div class="col-sm-10">
						<div ng-repeat="comment in post.comments">
					
<div id="cmsms_quotes_slider_55531400bcbf8" class="cmsms_quotes_slider owl-carousel">
      <div class="cmsms_quote">
        <article class="cmsms_quote_inner">
          <div class="quote_content">
            <p>{{comment.text}}</p>
          </div>
          <figure class="quote_image">
            <img width="200" height="200" src="img/images/thumbnail_Michael_Linden.jpg" class="attachment-thumbnail" alt="6844805970_8dc4bcdeb4_b99" />
          </figure>
          <div class="wrap_quote_title">
            <h6 class="quote_title">{{comment._user.name}}</h6>
            <span class="quote_subtitle">user@mail.com</span>
          </div>
        </article>
      </div>
      
    </div>
						</div>
						<form class="form-horizontal col-sm-offset-1">
							<div class="form-group">
								<textarea class="form-control" ng-model="post.newComment"></textarea>
							</div>
							<input class=" pull-right btn btn-default" type="submit" value="Comment" ng-click="addComment(topic.post.indexOf(post))">
						</form>
					</div><br>
					<div class="col-sm-12">
						<hr>
					</div>
					
				</div>


			</div>

		</div>
	</div>    
      </div>
      <!-- _________________________ Finish Content _________________________ -->
      <!-- _________________________ Start Sidebar _________________________ -->
      <div class="sidebar" role="complementary">
        <aside id="search-2" class="widget widget_search">
          <div class="search_bar_wrap">
            <form method="get">
              <p>
                <input name="s" placeholder="rechercher une reponse" ng-model="filtername" value="" type="text" />
                <button type="submit" class="cmsms-icon-search-7"></button>
              </p>
            </form>
          </div>
        </aside>
       
        <aside id="cmsms_paypal" class="widget widget_custom_paypal_donations">
          <div class="cmsms_paypal_donations_widget">
            <h3 class="widgettitle">Donate</h3>
           <p>Donec fringilla, erat et semper eleifend, justo quam sodales a vehicula ipsum libero eget mi. Integer condimentum, nibh aliquet.</p>
            <a href="#" class="button">DONATE NOW!</a>
          </div>
        </aside>
        <aside ng-controller="dashboardController" id="recent-posts-2" class="widget widget_recent_entries">
          <h3 class="widgettitle">Sujets Recents</h3>
          <ul>
            <li ng-repeat="topic in topics | filter:filter_name | orderBy: 'created_at':true "><a href="#/topic/{{topics.indexOf(topic)}}" title="{{topic.text}}">{{topic.text}}</a></li>
            </li>
          </ul>
        </aside>
        <div class="share-box detail-info-entry" ng-controller="SocialCtrl">
         <div class="title">Share in social media</div>
<a socialshare
socialshare-provider="facebook"
socialshare-text="'title'"
socialshare-description="'description'"
socialshare-url="'data_url'"
socialshare-via="593365200827524">
Share me
</a>
                            
<ul 
ng-social-buttons 
data-url="'https://bledi-ndhifa.herokuapp.com/app/index.html#/topic/7'"
data-title="'title'"
data-description="'description'"
showcounts="true">
            <li class="ng-social-facebook">Facebook</li>
            <li class="ng-social-google-plus">Google+</li>
            <li class="ng-social-twitter">Twitter</li>

            <li class="ng-social-linkedin">LinkedIn</li>
        </ul>
        <div class="clear"></div>
                                </div>
      </div>
      <!-- _________________________ Finish Sidebar _________________________ -->
    </div>
  </div>
</div>   
	

</div>
