<div ng-controller="userController">
	<div class="row col-sm-2" style="margin:200px 0px 0px 50px;">
		<p translate="Bonjour">Bonjour</p>
		<p translate="information">Introduire vos informations pour continuer</p>
		<form class="form">
			<div class="form-group">
                
	<label for="cmsms_your_email">Login<span class="color_2">*</span></label>
				<input class="form-control" type="text" ng-model="newUser.name" required>

			</div>
            <div class="form-group">
                
	<label for="cmsms_your_email" translate="Prénom">Prénom<span class="color_2">*</span></label>
				<input class="form-control" type="text" ng-model="newUser.firstname" required>

			</div>
            <div class="form-group">
                
	<label for="cmsms_your_email" translate="Nom">Nom<span class="color_2">*</span></label>
				<input class="form-control" type="text" ng-model="newUser.lastname" required>

			</div>
	
			<button class="btn btn-primary" ng-click="addUser()" translate="Entrer">Enter</button>
		</form>
	</div>
</div>






