     
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-bottom: 15px; " >
<div id="main">
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>
<h1 id="cmsms_heading_56be4d92effeb" class="cmsms_heading"></h1>
<div id="cmsms_row_56be4da60c692" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
<link rel='stylesheet' href='LayerSlider/css/layerslider.css' type='text/css' media='all' />
		<link rel='stylesheet' href='css/fontgoogle.css' type='text/css' media='all' />
		<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
		<link rel='stylesheet' href='css/style.css' />
		<link rel='stylesheet' href='css/adaptive.css' />
		<link rel='stylesheet' href='css/retina.css' />
		<link rel='stylesheet' href='css/ilightbox.css' />
		<link rel='stylesheet' href='css/ilightbox-skins/dark-skin.css' />
		<link rel='stylesheet' href='css/cmsms-events-style.css' />
		<link rel='stylesheet' href='css/cmsms-events-adaptive.css' />
		<link rel='stylesheet' href='css/fontello.css' />
		<link rel='stylesheet' href='css/animate.css' />
	
		<link rel='stylesheet' href='css/econature.css' />
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen%3A300%2C400%2C700&amp;ver=4.2' type='text/css' media='all' />
		<link rel='stylesheet' href='css/jquery.isotope.css' type='text/css' media='screen' />
		
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		
		<style type="text/css">
			
            .cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
				overflow-y:auto;
			}

			.header_mid_inner .logo {
				position:static;
			}
			#footer.cmsms_footer_default .footer_inner {
				min-height:450px;
			}
			
			.fixed_footer #main {
				margin-bottom:450px;
			}
			
			#cmsms_row_1 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_1 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			} 

			#cmsms_row_1 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-left:0%; 
			} 
			#cmsms_row_1 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-right:0%; 
			} 
			 
			#cmsms_row_2 .cmsms_row_outer_parent { 
				padding-top: 40px; 
			} 

			#cmsms_row_2 .cmsms_row_outer_parent { 
				padding-bottom: 20px; 
			}
			 
			#cmsms_row_3 .cmsms_row_outer_parent { 
				padding-top: 60px; 
			} 

			#cmsms_row_3 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			}
			 
			#cmsms_heading_553e49e80710d, #cmsms_heading_553e49e80710d a { 
				font-size:34px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:40px; 
			} 
			
			#cmsms_row_4 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_4 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			} 
			 
			#cmsms_stat_553e49e8075f6 .cmsms_stat_counter { 
				color:#57cbe1; 
			} 

			#cmsms_stat_553e49e8076a4 .cmsms_stat_counter { 
				color:#62e0c1; 
			} 

			#cmsms_stat_553e49e80773a .cmsms_stat_counter { 
				color:#7fe092; 
			} 

			#cmsms_stat_553e49e8077d1 .cmsms_stat_counter { 
				color:#b7f275; 
			} 
			 
			#cmsms_row_5 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_5 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			}
			 
			#cmsms_heading_553e49e807cad, #cmsms_heading_553e49e807cad a { 
				color:#979ca4; color:rgba(151, 156, 164, 1);
				font-size:18px; 
				line-height:32px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:30px; 
			} 
			 
			#cmsms_row_6 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_6 .cmsms_row_outer_parent { 
				padding-bottom: 70px; 
			} 


			#cmsms_paypal_donations_553e49e8080d0 { 
				text-align:center; 
			} 

			#cmsms_paypal_donations_553e49e8080d0 .cmsms_button:before { 
				margin-right:0;
				margin-left:0; 
				vertical-align:baseline; 
			} 

			#cmsms_paypal_donations_553e49e8080d0 .cmsms_button { 
				font-weight:100; 
				font-style:normal; 
			} 
			
			#cmsms_paypal_donations_553e49e8080d0 form:hover + .cmsms_button { 
			} 
			 
			#cmsms_row_7 { 
				background-image: url(img/images/bg-big-sky.jpg); 
				background-position: top center; 
				background-repeat: repeat-y; 
				background-attachment: scroll; 
				background-size: cover; 
			} 

			#cmsms_row_7 .cmsms_row_outer_parent { 
				padding-top: 60px; 
			} 

			#cmsms_row_7 .cmsms_row_outer_parent { 
				padding-bottom: 100px; 
			} 

			#cmsms_row_7 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-left:10%; 
			} 
			#cmsms_row_7 .cmsms_row_inner.cmsms_row_fullwidth { 
				padding-right:10%; 
			} 
			 
			#cmsms_heading_553e49e808e7f, #cmsms_heading_553e49e808e7f a { 
				color:#000; color:rgba(255, 255, 255, 1);
				font-size:34px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:60px; 
			} 
			 #cmsms_row_555212697abbb { 
				background-color: #fff; 
				background-image: url(img/images/bg-grass-2.jpg); 
				background-position: bottom center; 
				background-repeat: no-repeat; 
				background-attachment: scroll; 
				background-size: contain; 
			} 
			
			#cmsms_row_555212697abbb .cmsms_row_outer_parent { 
				padding-top: 50px; 
			} 

			#cmsms_row_555212697abbb .cmsms_row_outer_parent { 
				padding-bottom: 250px; 
			}
			#cmsms_row_8 .cmsms_row_outer_parent { 
				padding-top: 80px; 
			} 

			#cmsms_row_8 .cmsms_row_outer_parent { 
				padding-bottom: 0px; 
			}
			 
			#cmsms_heading_553e49e81ea44, #cmsms_heading_553e49e81ea44 a { 
				font-size:32px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:0px; 
			} 
			 
			#cmsms_row_9 .cmsms_row_outer_parent { 
				padding-top: 60px; 
			} 

			#cmsms_row_9 .cmsms_row_outer_parent { 
				padding-bottom: 20px; 
			} 

			 #cmsms_icon_list_items_553e49e81ee7b.cmsms_icon_list_pos_right .cmsms_icon_list_item:before { 
				left:auto; 
				right:39.5px; 
			} 
			#cmsms_icon_list_items_553e49e81ee7b.cmsms_icon_list_type_block .cmsms_icon_list_item:before { 
				width:1px; 
			} 

			#cmsms_icon_list_items_553e49e81ee7b .cmsms_icon_list_icon { 
				border-width:1px; 
				width:80px; 
				height:80px; 
				-webkit-border-radius:50; 
				-moz-border-radius:50; 
				border-radius:50; 
			} 

			#cmsms_icon_list_items_553e49e81ee7b .cmsms_icon_list_icon:before { 
				font-size:32px; 
				line-height:78px; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81efbc .cmsms_icon_list_icon:before { 
				color:#58d4e7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81efbc:hover .cmsms_icon_list_icon { 
				background-color:#58d4e7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81efbc:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f115 .cmsms_icon_list_icon:before { 
				color:#62e0c7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f115:hover .cmsms_icon_list_icon { 
				background-color:#62e0c7; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f115:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 
			 
			#cmsms_icon_list_items_553e49e81f520.cmsms_icon_list_items .cmsms_icon_list_item:before { 
				left:39.5px; 
			} 
			
			#cmsms_icon_list_items_553e49e81f520.cmsms_icon_list_type_block .cmsms_icon_list_item:before { 
				width:1px; 
			} 

			#cmsms_icon_list_items_553e49e81f520 .cmsms_icon_list_icon { 
				border-width:1px; 
				width:80px; 
				height:80px; 
				-webkit-border-radius:50%; 
				-moz-border-radius:50%; 
				border-radius:50%; 
			} 

			#cmsms_icon_list_items_553e49e81f520 .cmsms_icon_list_icon:before { 
				font-size:32px; 
				line-height:78px; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f676 .cmsms_icon_list_icon:before { 
				color:#7ce095; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f676:hover .cmsms_icon_list_icon { 
				background-color:#7ce095; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f676:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f7b9 .cmsms_icon_list_icon:before { 
				color:#a6ec7c; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f7b9:hover .cmsms_icon_list_icon { 
				background-color:#a6ec7c; 
			} 

			.cmsms_icon_list_items.cmsms_color_type_icon #cmsms_icon_list_item_553e49e81f7b9:hover .cmsms_icon_list_icon:before { 
				color:inherit; 
			} 
			 
			#cmsms_row_10 .cmsms_row_outer_parent { 
				padding-top: 40px; 
			} 

			#cmsms_row_10 .cmsms_row_outer_parent { 
				padding-bottom: 50px; 
			}
			 
			#cmsms_heading_553e49e81fcae, #cmsms_heading_553e49e81fcae a { 
				font-size:32px; 
				text-align:center; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:0px; 
			} 
			 
			#cmsms_row_11 .cmsms_row_outer_parent { 
				padding-top: 0px; 
			} 

			#cmsms_row_11 .cmsms_row_outer_parent { 
				padding-bottom: 70px; 
			}
			 
			#cmsms_heading_553e49e832cc5, #cmsms_heading_553e49e832cc5 a { 
				font-size:26px; 
				text-align:left; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:40px; 
			} 
			 
			#cmsms_tabs_list_item_553e49e832e43 a:hover,#cmsms_tabs_list_item_553e49e832e43.current_tab a { 
				background-color:#57cbe1; 
				border-color:#57cbe1; 
			} 

			#cmsms_tabs_list_item_553e49e8358a9 a:hover,#cmsms_tabs_list_item_553e49e8358a9.current_tab a { 
				background-color:#62e0c1; 
				border-color:#62e0c1; 
			} 

			#cmsms_tabs_list_item_553e49e835a40 a:hover,#cmsms_tabs_list_item_553e49e835a40.current_tab a { 
				background-color:#7fe092; 
				border-color:#7fe092; 
			} 
			 
			#cmsms_heading_553e49e835edb, #cmsms_heading_553e49e835edb a { 
				font-size:26px; 
				text-align:left; 
				font-weight:300; 
				font-style:normal; 
				margin-top:0px; 
				margin-bottom:40px; 
			} 
			 
			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e836051.cmsms_stat { 
				width:78%; 
			} 

			#cmsms_stat_553e49e836051 .cmsms_stat_inner { 
				background-color:#57cbe1; 
				color:#fff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e8360f4.cmsms_stat { 
				width:73%; 
			} 

			#cmsms_stat_553e49e8360f4 .cmsms_stat_inner { 
				background-color:#62e0c1; 
				color:#fff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e836189.cmsms_stat { 
				width:92%; 
			} 

			#cmsms_stat_553e49e836189 .cmsms_stat_inner { 
				background-color:#7fe092; 
				color:#fff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e836214.cmsms_stat { 
				width:88%; 
			} 

			#cmsms_stat_553e49e836214 .cmsms_stat_inner { 
				background-color:#b7f275; 
				color:#fff; 
			} 

			.cmsms_stats.shortcode_animated #cmsms_stat_553e49e83629e.cmsms_stat { 
				width:78%; 
			} 

			#cmsms_stat_553e49e83629e .cmsms_stat_inner { 
				background-color:#c9ef5f; 
				color:#fff; 
			} 
			 
			#cmsms_row_12 { 
				background-image: url(img/images/bg-big-water.jpg); 
				background-position: top center; 
				background-repeat: repeat-y; 
				background-attachment: scroll; 
				background-size: cover; 
			} 

			#cmsms_row_12 .cmsms_row_outer_parent { 
				padding-top: 40px; 
			} 

			#cmsms_row_12 .cmsms_row_outer_parent { 
				padding-bottom: 20px; 
			} 
             #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#fff; 
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
} 
		label,p{
		color:black;
		}
            h2{
                
                color: black !important;
                
            }
		</style>
	<div>
		
	<!-- _________________________ Start Page _________________________ -->
		<div id="page" class="csstransition cmsms_liquid fixed_header hfeed site">
	<!-- _________________________ Start Main _________________________ -->
			<div id="main">
	<!-- _________________________ Start Header _________________________ -->
			
	
				<section id="middle">
					<div class="middle_inner">

			
  
  <!--_________________________ Start map generale  _________________________ -->

  <div id="cmsms_row_10" class="cmsms_row cmsms_color_scheme_default">

    <h2 id="cmsms_heading_553e49e81fcae" class="cmsms_heading">Statistiques de pollution sur toute la Tunisie</h2>
    <br/>
<div style="margin-left:100px;" class="form_field_wrap">
    <select id="drop">
  <option value="">Selectionner...</option>
  <option value="t2" >Ariana</option>
  <option value="t1" >Tunis</option>
  <option value="t5">Nabel</option>
  <option value="t3" >Ben Arous</option>
  <option value="t4" >Mannouba</option>
  <option value="t7" >Bizerte</option>
  <option value="t8" >Beja</option>
  <option value="t9" >Jendouba</option>
  <option value="t10" >Kef</option>
  <option value="t11" >Siliana</option>
  <option value="t6" >Zaghouane</option>
  <option value="t16" >Kairouan</option>
  <option value="t17" >Kasserine</option>
  <option value="t12" >Sousse</option>
  <option value="t14" >Mahdia</option>
  <option value="t13" >Mounastir</option>
  <option value="t15" >Sfax</option>
  <option value="t18" >Sidi Bouzid</option>
  <option value="t22" >Gafsa</option>
  <option value="t21" >Tatouine</option>
  <option value="t19" >Gabes</option>
  <option value="t20" >Medenine</option>
  <option value="t24" >Kebili</option>
  <option value="t23" >Touzeur</option>
</select>
</div>
 <div   class="cmsms_row cmsms_color_scheme_default" ng-controller="allStatController">
    <div   class="cmsms_row_outer_parent">
      <div  class="cmsms_row_outer">
        <div class="cmsms_row_inner">
          <div  class="cmsms_row_margin">
            <div class="cmsms_column one_half">

                <div id="stats">  </div>
            </div>
            <div class="cmsms_column one_half" >

              <div class="cmsms_stats stats_mode_counters stats_type_circles stats_noborder">
                <h2 id="cmsms_heading_553e49e835edb" class="cmsms_heading">Vous êtes à <span id="result"/> {{gouvernorat}}<br/> classement pollution de la zone: <span class="cmsms_stat_counter ">{{indice_region}}</span></h2>
              
               
                 <div class="cmsms_stat_wrap one_fourth">
                <div id="cmsms_stat_555212697ba05" class="cmsms_stat stat_has_titleicon" data-percent="{{Indice_total}}" data-bar-color="#b7f275">
                  <div class="cmsms_stat_inner cmsms-icon-leaf-2">
                    <span class="cmsms_stat_title">Pollution globale</span>
                    <span class="cmsms_stat_counter_wrap">
				    <span class="cmsms_stat_counter">{{Indice_total}}</span><span class="cmsms_stat_units">%</span>
                    </span>
                  </div>
                </div>
              </div>
              <div id="cmsms_row_3" class="cmsms_row cmsms_color_scheme_default">
							<div id="cmsms_row_555212697bbe6" class="cmsms_row cmsms_color_scheme_default" align="center">
                              <div class="cmsms_row_outer_parent">
                                <div class="cmsms_row_outer">
                                  <div class="cmsms_row_inner">
                                    <div class="cmsms_row_margin">
                                      <div class="cmsms_column one_first">
                                        <h2 id="cmsms_heading_5552f7fc020f4" class="cmsms_heading">Climat de {{gouvernorat}}</h2>
                                        <div ng-controller="WeatherStatCtrl">
                                <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
                                <h2>Current: {{ weather.temp.current | temp:2 }}</h2>
                                min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}
                            </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
						</div>


              </div>


            </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
      

       <script>
$('#drop').change(function() {
var e = document.getElementById("drop");
var gouvernement = e.options[e.selectedIndex].value;  
var region = e.options[e.selectedIndex].text;  
console.log(region);

sessionStorage.setItem("gouvernement", gouvernement);
sessionStorage.setItem("ngStorage-gouvernorat","\""+region+"\"");
    location.reload();
});
    map1();   
       
    function map1() {  
var gouvernement = sessionStorage.getItem("gouvernement");

console.log("gouvernement"+""+gouvernement);


var width = 1000,
    height = 600,
    active = d3.select(null);



var path = d3.geo.path();

var svg = d3.select("#stats").append("svg")
.attr("id", "map")
    .attr("width", width)
    .attr("height", height);

svg.append("rect")
    .attr("class", "background")
    .attr("width", width)
    .attr("height", height)
.attr("align", "center");

var g = svg.append("g")
    .style("stroke-width", "1.5px");

d3.json("map/tunisia.json", function(error, topology) {
  
  var featureCollection = topojson.feature(topology, topology.objects.governorates);

  var bounds = d3.geo.bounds(featureCollection);
  
  var centerX = d3.sum(bounds, function(d) {return d[0];}) /2,
      centerY = d3.sum(bounds, function(d) {return d[1];})/2;
 
  var projection = d3.geo.mercator()
    .scale(2000)
    .center([centerX, centerY]);
  
  path.projection(projection);
    
var i=0;
  g.selectAll("path")
      .data(featureCollection.features)
    .enter().append("path")
      .attr("d", path)
      .attr("class", "feature")
  .attr("id", function(d,i) { 
      i++;
      return "t"+i; });
    



  g.append("path")
      .datum(topojson.feature(topology, featureCollection.features, function(a, b) { return a !== b; }))
      .attr("class", "mesh")
      .attr("d", path);
});
       

$.fn.is_on_screen = function(){
    var element = this.get(0);
    var bounds = element.getBoundingClientRect();
    return bounds.top < window.innerHeight && bounds.bottom > 0;
};
 
if( $('#map').length > 0 ) { // if target element exists in DOM
	if( $('#map').is_on_screen()) { // if target element is visible on screen after DOM loaded
  g.select("path#"+gouvernement).attr("function", map);
	} else {
  g.select("path#"+gouvernement).attr("function", reset);
	}
}
$(window).scroll(function(){ // bind window scroll event
	if( $('#map').length > 0 ) { // if target element exists in DOM
		if( $('#map').is_on_screen() ) { // if target element is visible on screen after DOM loaded
  g.select("path#"+gouvernement).attr("function", map);
		} else {
  g.select("path#"+gouvernement).attr("function", reset);
		}
	}
});
    
function map(d){
    
  active.classed("active", false);
  active = d3.select(this).classed("active", true);

  var bounds = path.bounds(d),
      dx = bounds[1][0] - bounds[0][0],
      dy = bounds[1][1] - bounds[0][1],
      x = (bounds[0][0] + bounds[1][0]) / 2,
      y = (bounds[0][1] + bounds[1][1]) / 2,
      scale = .1 / Math.max(dx / width, dy / height),
      translate = [width / 3 - scale * x, height / 4 - scale * y];

  g.transition()
      .duration(3000)
      .style("stroke-width", 2/ scale + "px")
      .attr("transform", "translate(" + translate + ")scale(" + scale + ")");
    
    }
function reset(){
    
    active.classed("active", false);
  active = d3.select(null);

  g.transition()
      .duration(500)
      .style("stroke-width", "1.5px")
      .attr("transform", "");
}
       
}
           
    </script>
    
    <style>

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #bac2b9;
  cursor: pointer;
}

.feature.active {
  fill: #0ea6f4;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.2px;
}

path:hover {
  fill: #ccc;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

</style>
    </div>
 <div   class="cmsms_row cmsms_color_scheme_default" ng-controller="allStatController">
    <div   class="cmsms_row_outer_parent">
      <div  class="cmsms_row_outer">
        <div class="cmsms_row_inner">
          <div  class="cmsms_row_margin">
            
            <div class="cmsms_column one_half">
              <h2 class="cmsms_heading">Indices de Pollution</h2>

          
            </div>
            </div>
            <div id="cmsms_row_555212697abbb" class="cmsms_row cmsms_color_scheme_fifth">
            
  <div class="cmsms_row_outer_parent">
    <div class="cmsms_row_outer">
      <div class="cmsms_row_inner">
        <div class="cmsms_row_margin">
          <div class="cmsms_column one_first">
            <div class="cmsms_stats stats_mode_counters stats_type_circles stats_noborder" data-animation="fadeInUp" data-delay="0">
              <div class="cmsms_stat_wrap one_fourth">
                <div id="cmsms_stat_555212697b83f" class="cmsms_stat stat_has_titleicon" data-percent="{{Indice_eau}}" data-bar-color="#57cbe1">
                  <div class="cmsms_stat_inner cmsms-icon-waves">
                    <span class="cmsms_stat_title">Eau</span>
                    <span class="cmsms_stat_counter_wrap">
																<span class="cmsms_stat_counter">{{Indice_eau}}</span><span class="cmsms_stat_units">%</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="cmsms_stat_wrap one_fourth">
                <div id="cmsms_stat_555212697b8db" class="cmsms_stat stat_has_titleicon" data-percent="{{Indice_son}}" data-bar-color="#62e0c1">
                  <div class="cmsms_stat_inner cmsms-icon-bat-charge">
                    <span class="cmsms_stat_title">Son</span>
                    <span class="cmsms_stat_counter_wrap">
																	<span class="cmsms_stat_counter">{{Indice_son}}</span><span class="cmsms_stat_units">%</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="cmsms_stat_wrap one_fourth">
                <div id="cmsms_stat_555212697b971" class="cmsms_stat stat_has_titleicon" data-percent="{{Indice_air}}" data-bar-color="#7fe092">
                  <div class="cmsms_stat_inner cmsms-icon-arrows-cw-outline">
                    <span class="cmsms_stat_title">Air</span>
                    <span class="cmsms_stat_counter_wrap">
																	<span class="cmsms_stat_counter">{{Indice_air}}</span><span class="cmsms_stat_units">%</span>
                    </span>
                  </div>
                </div>
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>     
  
          </div>
        </div>
      </div>
    </div>
            <!-- end test -->

    
    <!-- fin map-->



          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- end map -->
    
    
</div>


  <!-- _________________________ Finish Content _________________________ -->
</div>

<!-- _________________________ Finish Page _________________________ -->


<!-- fin map-->
	<!-- _________________________ Finish Content _________________________ -->
					</div>
				</section>
	<!-- _________________________ Finish Middle _________________________ -->
				<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
			</div>
	<!-- _________________________ Finish Main _________________________ -->
	
	<!-- _________________________ Finish Footer _________________________ -->
		</div>
	<!-- _________________________ Finish Page _________________________ -->
		<script type='text/javascript' src='LayerSlider/js/layerslider.kreaturamedia.jquery.js'></script>
		<script type='text/javascript' src='LayerSlider/js/greensock.js'></script>
		<script type='text/javascript' src='LayerSlider/js/layerslider.transitions.js'></script>
		<script type='text/javascript' src='js/jsLibraries.min.js'></script>
		<script type='text/javascript' src='js/jquery.iLightBox.min.js'></script>
		<script type='text/javascript' src='js/jqueryLibraries.min.js'></script>
		<script type='text/javascript'>
		/* <![CDATA[ */
			var cmsms_script = {
				"ilightbox_skin":"dark",
				"ilightbox_path":"vertical",
				"ilightbox_infinite":"0",
				"ilightbox_aspect_ratio":"1",
				"ilightbox_mobile_optimizer":"1",
				"ilightbox_max_scale":"1",
				"ilightbox_min_scale":"0.2",
				"ilightbox_inner_toolbar":"0",
				"ilightbox_smart_recognition":"0",
				"ilightbox_fullscreen_one_slide":"0",
				"ilightbox_fullscreen_viewport":"center",
				"ilightbox_controls_toolbar":"1",
				"ilightbox_controls_arrows":"0",
				"ilightbox_controls_fullscreen":"1",
				"ilightbox_controls_thumbnail":"1",
				"ilightbox_controls_keyboard":"1",
				"ilightbox_controls_mousewheel":"1",
				"ilightbox_controls_swipe":"1",
				"ilightbox_controls_slideshow":"0",
				"ilightbox_close_text":"Close",
				"ilightbox_enter_fullscreen_text":"Enter Fullscreen (Shift+Enter)",
				"ilightbox_exit_fullscreen_text":"Exit Fullscreen (Shift+Enter)",
				"ilightbox_slideshow_text":"Slideshow",
				"ilightbox_next_text":"Next",
				"ilightbox_previous_text":"Previous",
				"ilightbox_load_image_error":"An error occurred when trying to load photo.",
				"ilightbox_load_contents_error":"An error occurred when trying to load contents.",
				"ilightbox_missing_plugin_error":"The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>."
			};
		/* ]]> */
		</script>
		<script type='text/javascript' src='js/jquery.easing.min6f3e.js?ver=1.3.0'></script>
		<script type='text/javascript' src='js/jquery.script.js'></script>
		<script type='text/javascript' src='js/jquery.tweet.min.js'></script>
		<script type='text/javascript' src='js/jquery.isotope.min.js'></script>
		<script type='text/javascript' src='js/jquery.isotope.mode.js'></script>
	</div></div></div></div></div></div></div></div>
</div>