<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />



<link rel='stylesheet' id='Mystery-Quest-google-font-css'  href='http://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/css/superfish.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='dlmenu-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/component.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/font-awesome-new/css/font-awesome.min.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='elegant-font-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/elegant-font/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-fancybox-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/flexslider.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-responsive-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-responsive.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-custom.css?ver=4.3.3' type='text/css' media='all' />
  
        <!-- animation --> 
        <link rel="stylesheet" href="blog/css/animate.css" />
        <!-- bootstrap --> 
        <link rel="stylesheet" href="blog/css/bootstrap.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="blog/css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="blog/css/font-awesome.min.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" href="blog/css/extralayers.css" />
        <link rel="stylesheet" href="blog/css/settings.css" />
        <!-- magnific popup -->
        <link rel="stylesheet" href="blog/css/magnific-popup.css" />
        <!-- owl carousel --><link rel="stylesheet" href="blog/css/text-effect.css" />
        <!-- hamburger menu  -->
        <!-- common -->
        <link rel="stylesheet" href="blog/css/style.css" />
        <!-- responsive -->
        <link rel="stylesheet" href="blog/css/responsive.css" />
        <!-- text animation -->
        
        <!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]-->
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

    <body>

         <div class="greennature-page-title-wrapper ">
		
			
				<h1 class="widgettitle">Consulter l'ensemble des articles</h1>
								
								
		</div>

        <!-- content section -->
        <section  ng-controller="blogController">
            <div class="container">
                <div class="row blog-3col">
                    <!-- post item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 blog-listing"  ng-repeat="blog in blogs | filter:filter_name | orderBy: 'created_at':true " >
                        <div class="blog-image"><a href="#/blog/{{blogs.indexOf(blog)}}"><img src="http://localhost:3000/uploads/{{blog.image_id.link}}" alt="{{blog.image_id.title}}"/></a></div>
                        <div class="blog-details">
                            
                            <div class="blog-title"><a href="#/blog/{{blogs.indexOf(blog)}}">{{blog.title}}</a></div>
                            <div class="blog-date"><span translate="blog.pub">Publié par </span><a href="blog-masonry-2columns.html">{{blog._user.name}} {{blog._user.lastname}}</a> | {{blog.created_at | date: 'dd-MM-yyyy HH:mm' }}</div>
                            
                            <div><a href="" class="blog-like"><i class="fa fa-heart-o">{{blog.upvote}}</i><span translate="blog.like">aimes</span> </a><a href="" class="comment"><i class="fa fa-comment-o"></i>{{blog.comments.length}} <span translate="blog.comm"> commentaire(s) </span></a></div>
                        </div>
                    </div>
                    <!-- end post item -->
                   
                </div>
              
            </div>
        </section>
        <!-- end content section -->


<!--
        <script type="text/javascript" src="/app/blog/js/page-scroll.js"></script>
-->
       
    </body>
