
<style>
    /* The box container div with id 30158 */

			div#rssincl-box-1066020 {
				width: 950px; /* sets the width of your RSSbox */
				height: 100%
                overflow-x: auto; /* sets a scrollbar if the content is larger than 350px */
                margin-left: 15%;
            }

			/* All elements inside the box container */
			div#rssincl-box-1066020 *{
				font-family: Arial, Helvetica, sans-serif; /* sets the font family for all elements within the RSSbox */
				text-align:left; /* sets text-align to left for all elements*/
				margin:0; /* sets margin to zero for all elements*/
				padding:0; /* sets padding to zero for all elements*/
				line-height:170%; /* sets the line-height a bit greater than normal*/
				clear:both; /* no floating in general */
			}

			/* The div around the title */
			div#rssincl-box-1066020 div.rssincl-head {
				padding:10px; /* sets the padding to 10px*/
				background-image:url('rssinclude_head_bg.gif'); /* set a gradient background image in the same directory */
				background-repeat:repeat-x; /* repeats the background image along the x-axis only*/
				background-color: #57cbe1; /* general background color when background image not shown*/
			}

			/* The <p> which contains the title of the box, and the <a> tag wrapped around the title (if used) */
			div#rssincl-box-1066020 div.rssincl-head p.rssincl-title,
			div#rssincl-box-1066020 div.rssincl-head p.rssincl-title a {
				font-size: 18px; /* sets the font size of the title to 18px*/
				font-weight:bold; /* and bold of course */
				color: #FFF; /* colors the title white */
				text-decoration:none; /* no underline */
                text-align: center;

			}

			/* The div around the content elements / news items */
			div#rssincl-box-1066020 div.rssincl-content {}

			/* The div around each news item */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry {
				padding:10px; /* padding to 10px again */
				background-repeat:repeat-x; /* image repeats along x-axis only */
				background-color: transparent; /* background-color when image is not shown */
				border-bottom:1px solid #C0C0C0; /* set grey border bottom */
                
			}

			/* The <p> tag containing the news item title */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle {
				padding:5px; /* padding of title to 5px*/
				padding-left:25px; /* left padding to 25px because of background image (arrow) */
				background-repeat:no-repeat; /* don't repeat it */
				background-position:0px 3px; /* positioning of background image*/
				margin-bottom:6px; /* margin below the item title*/
                text-align: center;
			}

			/* The <a> tag wrapped around the news item title */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a {
                font-family: 'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
                
			}
			
			/* Set a color for rolling over the item title*/
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a:hover{
				color:#58cf90; /* change font color to red on rollover */
			}

			/* The <p> tag containing the item description, and all elements inside this tag */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc,
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc *{
				font-size: 15px; /* general font size 12px */
				color: #333333; /* dark grey */
			}

			/* The <p> tag containing the item date, and all elements inside this tag */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemdate,
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemdate *{
				font-size: 10px; /* set date smaller than normal text */
                color: #58cf90;
			}

			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry p.rssincl-itemdate {
                text-align: right;
                margin-top: 10px;
                margin-bottom:6px; /* a bit of space below the date*/
			}
            div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry div.rssincl-itemimage  {
                width: 300px;
                height : 200px;
            }
			/* If there are images inside the description, you can style them as well */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc img {
				border:0px solid #FFF; /* no border for images inside description tag */
                width: 300px;
                height : 200px;
			}

			/* There is a clearer div which you can set to "clear:both"... */
			div#rssincl-box-1066020 div.rssincl-content div.rssincl-entry div.rssincl-clear {
				clear:both; /* important when using "float" for item elements */
			}
		</style>
<script type="text/javascript" src="http://output65.rssinclude.com/output?type=js&amp;id=1066020&amp;hash=f1d24c1db1c406519f16fe82057e8c6b"></script>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>