<link rel='stylesheet' id='style-css' href="/app/wp-content/themes/econature/css/style.css" type='text/css' media='all' />

<link rel='stylesheet' id='style-custom-css' href='/wp-content/themes/econature/css/style-custom.css' type='text/css' media='all' />






<script type='text/javascript' src='/wp-content/themes/econature/js/jquery.js'></script>







<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />






<body class="page page-id-2010 page-template-default _masterslider _msp_version_2.29.0">
	<div class="greennature-page-title-wrapper header-style-5-title-wrapper">
			<div class="greennature-page-title-overlay"></div>
			<div class="greennature-page-title-container container">
				<h1 class="greennature-page-title">Projets Bledi Ndhiha</h1>
							
							</div>	
		</div>
  <div class="body-wrapper  float-menu" data-home="http://demo.goodlayers.com/greennature/">


    <!-- is search -->
    <div class="content-wrapper">
		<br>
		<select class="register" name="_category" ng-model="project._category" style="width:300px" placeholder="Categories" ng-change="onCategoryChange(project._category)"  >

	<option selected="selected"  style="width:500px" ng-repeat="cat in categories" value="{{cat._id}}" >{{cat.name}}</option>
	
	</select>
      <div class="greennature-content">

        <!-- Above Sidebar Section-->


        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
          <section id="content-section-1">
            <div class="section-container container">
              <div class="portfolio-item-wrapper type-classic-portfolio-no-space" style="margin-bottom: 20px;" data-ajax="http://demo.goodlayers.com/greennature/wp-admin/admin-ajax.php">
                <div class="portfolio-item-holder greennature-item-no-space greennature-portfolio-column-3">
                  <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                    <div class="clear"></div>

	
				
											<!--_________________________ Start Standard Article _________________________ -->
														

 <div  ng-controller="ShowProjectCtrl" class="four columns" ng-repeat="project in projects">
<article   class="cmsms_masonry_type post" data-category="ecology home">
															<span class="cmsms_post_format_img  cmsms-icon-desktop-3"></span>
															<div class="cmsms_post_cont">
																<figure ng-repeat="p in project.projectImage">
																	<a href="#" title="The Ozone Layer" class="cmsms_img_link preloader">
																	<img width="580" height="390" src="http://localhost:3000/uploads/{{p.link}}" class="full-width" alt="The Ozone Layer" title="The Ozone Layer" />
																	</a>
																</figure>
																<header ng-repeat="p in project.pub" class="cmsms_post_header entry-header">
																	<h2 class="cmsms_post_title entry-title">
																		<a href="#/project/{{project._id}}/{{project.longitude}}/{{project.latitude}}/{{project.estimation_price}}/{{p.link}}">{{project.projectName}}</a>
																	</h2>
																</header>
																<div class="cmsms_post_cont_info entry-meta">
																	<span class="cmsms_post_user_name">By <a href="#" title="Posts by backdoor" class="vcard author"><span class="fn" rel="author">backdoor</span></a></span><span class="cmsms_post_category">In <a href="open-post.html" rel="category tag">Ecology</a>, <a href="open-post.html" rel="category tag">Home</a></span>
																</div>
																<div class="cmsms_post_content entry-content"></div>
																<footer class="cmsms_post_footer entry-meta tac">
																	<div class="cmsms_post_meta_info">
																		<abbr class="published cmsms_post_date cmsms-icon-calendar-8" title="July 20, 2014">July 20, 2014</abbr><a href="#" onclick="return false;" id="cmsmsLike-172" class="cmsmsLike active cmsms-icon-heart-7"><span>1</span></a><a class="cmsms_post_comments cmsms-icon-comment-6" href="#" title="Comment on The Ozone Layer">1</a>
																	</div>
																</footer>
															</div>
														</article>
					
                    </div>
                                       
                        </div>
                      </div>
                    </div>
			  </div>
          </section>
        </div>
        <!-- Below Sidebar Section-->


      </div>
      <!-- greennature-content -->
      <div class="clear"></div>
    </div>
    <!-- content wrapper -->


  </div>
  <!-- body-wrapper -->


  <script type='text/javascript' src='/app/themes/econature/js/jquery.transit.min.js'></script>
  <script type='text/javascript' src='/app/themes/econature/js/gdlr-portfolio-script.js'></script>