



<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />



<link rel='stylesheet' id='Mystery-Quest-google-font-css'  href='http://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/css/superfish.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='dlmenu-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/component.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/font-awesome-new/css/font-awesome.min.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='elegant-font-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/elegant-font/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-fancybox-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/flexslider.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-responsive-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-responsive.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-custom.css?ver=4.3.3' type='text/css' media='all' />


<script>
   //Program a custom submit function for the form
$("form#datas").submit(function(event){
 
 
	 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://localhost:3000/images/add',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
      success: function (returndata) {
      
      $('#created').val(returndata);
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#datas")).scope();
		
        scope.updateProject(scope.project._id,returndata,scope.project.advantage,function(){
  alert("Votre article a été ajouté.");
       // window.location = "#/projects";
    });
    }
                      
  });
 
  return false;
	
	
	
	
});
    
    </script>


	

</script>


<body class="page page-id-5959 page-template-default _masterslider _msp_version_2.29.0">
<div class="body-wrapper  float-menu" data-home="http://demo.goodlayers.com/greennature/" >


			<!-- is search -->	
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/act-bg.jpg'); padding-top: 200px; padding-bottom: 15px; " ><div class="container"><div class="greennature-title-item"  style="margin-bottom: 45px;"  ><div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-large "><div class="greennature-item-title-container container"><div class="greennature-item-title-head"><h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Publiez votre projet{{project.projectName}}</h3><div class="greennature-item-title-caption greennature-skin-info">Réalisez votre reve</div><div class="clear"></div></div></div></div></div><div class="clear"></div><div class="greennature-item greennature-content-item" ><div role="form" class="wpcf7" id="wpcf7-f5967-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form method="post" id="datas" ng-upload enctype="multipart/form-data" >
<input type="text" id="created" name="detailPdf" ng-model="project.detailPdf" hidden/>
	<input type="text" value="{{project._id}}" ng-model="project._id" hidden/>
		
	
		<input type="file" size="200" name="file" class="form-control" required> 
	
	<br>
		<textarea class="register" placeholder="Décrivez votre projet"  name="advantage" ng-model="project.advantage"   required></textarea> 
	
	<br>
<p><input type="submit" id="btn"  value="Etape suivante" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>

	</div><!-- greennature-content -->
		
	</div><!-- content wrapper -->

		
	
	</div>
	
	

