
		
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin,latin-ext' type='text/css' media='all' />
		<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
		<link rel='stylesheet' href='/app/css/style.css' />
		<link rel='stylesheet' href='/app/css/adaptive.css' />
		<link rel='stylesheet' href='/app/css/retina.css' />
		<link rel='stylesheet' href='/app/css/ilightbox.css' />
		<link rel='stylesheet' href='/app/css/ilightbox-skins/dark-skin.css' />
		<link rel='stylesheet' href='/app/css/cmsms-events-style.css' />
		<link rel='stylesheet' href='/app/css/cmsms-events-adaptive.css' />
		<link rel='stylesheet' href='/app/css/fontello.css' />
		<link rel='stylesheet' href='/app/css/animate.css' />
		<link rel='stylesheet' href='/app/css/jquery.isotope.css' type='text/css' media='screen' />
    


<style>
	.list {
float:left;
background:#e6e6e6;
  width:100px;
  height:100px;
  list-style-type:none;
  margin:10px;
}

</style>


<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0" />	
		
	<link rel="pingback" href="http://demo.goodlayers.com/greennature/xmlrpc.php" />
	<title>Green Nature | Just another WordPress site</title>
<meta name='robots' content='noindex,follow' />
<link rel="alternate" type="application/rss+xml" title="Green Nature &raquo; Feed" href="http://demo.goodlayers.com/greennature/feed/" />
<link rel="alternate" type="application/rss+xml" title="Green Nature &raquo; Comments Feed" href="http://demo.goodlayers.com/greennature/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/demo.goodlayers.com\/greennature\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.3"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />

<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.goodlayers.com/greennature/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.goodlayers.com/greennature/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.3.3" />
<meta name="generator" content="WooCommerce 2.5.5" />
<link rel='canonical' href='http://demo.goodlayers.com/greennature/' />
<link rel='shortlink' href='http://demo.goodlayers.com/greennature/' />
<script>var ms_grabbing_curosr='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur',ms_grab_curosr='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>
<meta name="generator" content="MasterSlider 2.29.0 - Responsive Touch Image Slider" />
<!-- load the script for older ie version -->
<!--[if lt IE 9]>
<script src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/html5.js" type="text/javascript"></script>
<script src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/easy-pie-chart/excanvas.js" type="text/javascript"></script>
<![endif]-->
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>


		<![endif]-->
		<link rel='stylesheet' href='/app/css/econature.css' />
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen%3A300%2C400%2C700&amp;ver=4.2' type='text/css' media='all' />
		
		
		<style type="text/css">
			.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
				overflow-y:auto;
			}

			.header_mid_inner .logo {
				position:static;
			}
			#footer.cmsms_footer_default .footer_inner {
				min-height:450px;
			}
			
			.fixed_footer #main {
				margin-bottom:450px;
			}
		</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='//demo.goodlayers.com/greennature/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Lato-google-font-css'  href='http://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=latin&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Noto-Sans-google-font-css'  href='http://fonts.googleapis.com/css?family=Noto+Sans%3Aregular%2Citalic%2C700%2C700italic&#038;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Merriweather-google-font-css'  href='http://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='Mystery-Quest-google-font-css'  href='http://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&#038;subset=latin%2Clatin-ext&#038;ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='superfish-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/superfish/css/superfish.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='dlmenu-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/dl-menu/component.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/font-awesome-new/css/font-awesome.min.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='elegant-font-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/elegant-font/style.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-fancybox-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/fancybox/jquery.fancybox.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/plugins/flexslider/flexslider.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-responsive-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-responsive.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='style-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/style-custom.css?ver=4.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='greennature-woo-style-css'  href='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/stylesheet/gdlr-woocommerce.css?ver=4.3.3' type='text/css' media='all' />

<link rel='stylesheet' id='ms-main-css'  href='http://demo.goodlayers.com/greennature/wp-content/plugins/masterslider/public/assets/css/masterslider.main.css?ver=2.29.0' type='text/css' media='all' />
<link rel='stylesheet' id='ms-custom-css'  href='http://demo.goodlayers.com/greennature/wp-content/uploads/masterslider/custom.css?ver=4.8' type='text/css' media='all' />


	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>

	</head>
	<body>
	
		    <google-map-locator class="google-map"  style="height:200px"
      location = "{{location}}"
      radius="10"
      on-location-initialize="onLocationInitialize(location)"
      on-location-change="onLocationChange(location)"
      on-map-loaded="onMapLoaded(map)">
    </google-map-locator>
	
	<!-- _________________________ Start Page _________________________ -->
		<div id="page" class="csstransition cmsms_liquid fixed_header hfeed site" ng-controller="ShowProjectDetailsCtrl">
		<!-- _________________________ Start Main _________________________ -->
			<div id="main">
			<!-- _________________________ Start Header _________________________ -->
				
				
			<!-- _________________________ Start Middle _________________________ -->
				<div id="middle">
					
					<div class="middle_inner">
						<div class="content_wrap fullwidth project_page">
							
							
						<!--_________________________ Start Content _________________________ -->
							<div class="middle_content entry" role="main">
								<div class="portfolio opened-article">
						<!--_________________________ Start Standard Project _________________________ -->
									<article class="project type-project format-standard hentry pj-categs-puzzle">
										
										<div class="project_content with_sidebar">
											<figure ng-repeat="p in project.projectImage" >
												
													<img width="820" height="1300" src="http://localhost:3000/uploads/{{p.link}}" alt="Bee &amp; Sunflower" title="Bee &amp; Sunflower" />
												<br>
											</figure>
											<figure>
												<h1>Affiche publicitaire</h1>
												<div ng-repeat="p in project.pub">
												<div my-youtube code="code"></div>
													
													
													
												</div>
												
											</figure>
											<div class="cmsms_project_content entry-content">
												<div class="cl"></div>
											</div>
										</div>
										<div class="project_sidebar" >
											<div class="project_details entry-meta">
												<h1 class="project_details_title" >{{project.projectName}}</h1>
												<div class="project_details_item">
													<div class="project_details_item_title"> <b>Donnez votre avis:</b></div>
													<div class="project_details_item_desc">
														
																											
														 <div id="demo">
															 
   <button ng-click="addLike(project.nbrLike)" class="btn like btn-danger"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> Like <span class="likes">{{project.nbrLike}}</span></button>
    <button ng-click="addDisLike(project.disLike)" class="btn dislike btn-warning"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ></span> Dislike <span class="dislikes">{{project.disLike}}</span></button>
  </div>
			
														
														
													</div>
												</div>
												<div class="project_details_item">
													<div class="project_details_item_title"><strong>Nombre de sponsors:</strong></div>
													<div class="project_details_item_desc"><span class="cmsms_project_category">{{project.nbrSponsor}}</span></div>
												</div>
												<div class="project_details_item">
													<div class="project_details_item_title"><b>Categories:</b></div>
													<div class="project_details_item_desc"><span class="cmsms_project_category"><a href="#" rel="tag">Eco systeme</a></span></div>
													
														
													
												</div>
												<div class="project_details_item">
										
													<div class="project_details_item_title"><b>A Besoin d'un financement de : </b></div>
													
																				<div class="project_details_item_desc"><span class="cmsms_project_category"> {{project.estimation_price}}  DT</span></div>
												
											
											</div>
												<div class="project_details_item_title"><b>sponsorisé par : </b>
												
										
												</div>
													
																				<div class="project_details_item_desc" ng-repeat="sponsor in sponsors"><span  class="cmsms_project_category" >
																					<ul class="list">
																						<li ng-repeat="l in sponsor.logo"><img src="http://localhost:3000/uploads/{{l.link}} " /></li>
																					</ul>
																					 </div>
																					
																	    
																					 
																		
																					
											<aside class="share_posts">
												
	
										
												
										
											
												<div class="fl share_posts_item">
													<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="arial"></div>
													<script type="text/javascript">
														(function (d, s, id) { 
															var js = undefined, 
																fjs = d.getElementsByTagName(s)[0];
															
															if (d.getElementById(id)) { 
																d.getElementById(id).parentNode.removeChild(d.getElementById(id));
															}
															
															js = d.createElement(s);
															js.id = id;
															js.src = '../connect.facebook.net/en_US/all.js#xfbml=1';
															
															fjs.parentNode.insertBefore(js, fjs);
														} (document, 'script', 'facebook-jssdk'));
													</script>
												</div>
												<div class="cl"></div>
											</aside>
										</div>	
										<div class="cl"></div>
									</article>
						<!--_________________________ Finish Standard Project _________________________ -->
							
											
											<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0.11" style="background-image: url('img/title-bg.jpg'); padding-top: 90px; padding-bottom: 65px; "><div class="container"><div class="six columns"><div class="greennature-item greennature-action-ads-item" style="background: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/donation-bg-1.jpg'); "><h3 class="action-ads-title" style="color: #facc2e;">Donation</h3><div class="action-ads-caption greennature-skin-info">Votre don peut sauver notre Tunisie</div><div class="action-ads-divider" style="background: #facc2e;"></div><div class="action-ads-content"><p>Il y a sans doute pas mal de gens qui aimeraient faire un don d’argent pour vous accompagner dans vos projets. Mais avouez que récolter les dons (et les gérer) n’est pas toujours facile. Oubliez les enveloppes, les coups de téléphone et autres relances. En créant une cagnotte Don d’argent Leetchi.com, vous disposez d’un endroit unique, où recevoir les dons n’est plus un problème. Collecter don d’argent ou autre participation n’a jamais été aussi simple, jugez plutôt.</p>
<a class="stunning-item-button greennature-button large greennature-lb-payment" href="#" style="background-color: #ecb338; color: #ffffff;" >Donation!</a>
												
												
												</div></div></div><div class="six columns"><div class="greennature-item greennature-action-ads-item" style="background: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/donation-bg-2.jpg'); "><h3 class="action-ads-title" style="color: #5dc269;">Aidez nous à encourager la réalisation de ce projet</h3><div class="action-ads-caption greennature-skin-info">Sponsoriser ce projet</div><div class="action-ads-divider" style="background: #5dc269;"></div><div class="action-ads-content"><p>e sponsoring, que l’on appelle aussi parrainage, est une démarche commerciale, qui vise à soutenir une personne, un organisme ou une action culturelle, artistique, sportive ou scientifique. Le sponsor ne doit pas être confondu avec le mécène qui n’est pas à la recherche de contreparties commerciales.</p>
<a class="action-ads-button large greennature-button" style="color: #ffffff;background-color: #5dc269;" href="#/sponsor/{{idn}}" target="_blank">Sponsorier</a></div></div></div><div class="clear"></div></div></div>		
										
										
								
											
											<aside class="related_posts">
												<br>
										<h3>Autres projets </h3>
										<ul>
											<li><a href="#" class="current">Meme Catégorie </a></li>

										</ul>
										<div class="related_posts_content">
											<div class="related_posts_content_tab" style="display:block;">
												<div ng-repeat="project in projects" class="one_half">
													<div class="rel_post_content">
														<figure class="alignleft" ng-repeat="p in project.projectImage" >
															<a href="#" title="Sunflower Time">
																<img width="100" height="100" src="http://localhost:3000/uploads/{{p.link}}" class="attachment-100x100" alt="Sunflower Time" title="Sunflower Time" style="width:100px; height:100px;">
															</a>
														</figure>
														<h5>
															<a href="#" title="Sunflower Time">{{project.projectName}}</a>
														</h5>
													</div>
												</div>
												
												
												
												
											</div>
									
										</div>
									</aside>
											
											
											
											
											
											
											
											
										 <div id="example" ng-controller="MyCtrl" ng-if="project.nbrSponsor < 1">
											 
      <div class="demo-section k-content"  style="overflow: auto;" >
        <span kendo-notification="notification" k-options="myOptions"></span>

        <script id="myAlertTemplate" type="text/x-kendo-template">
       					 <div class="myAlert">System alert generated at #= time # : #= myMessage #</div>
        </script>
      </div>
    </div>
								
				   		
								
							</div>
										
							
						<!-- _________________________ Finish Content _________________________ -->
						</div>
					</div>
				</div>
			<!-- _________________________ Finish Middle _________________________ -->
			<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a></div>
		<!-- _________________________ Finish Main _________________________ -->
		<!-- _________________________ Start Footer _________________________ -->
		
		<!-- _________________________ Finish Footer _________________________ -->
			<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css">
								
								
																	
<div  ng-controller="CommentManageCtrl" class="ui page grid">
			<div class="column">
				
				<div class="ui segment" data-ng-controller="CommentManageCtrl">
					<h2 class="ui header">Commentaires</h2>
					<div class="ui divided list" data-ng-cloak>
						<div class="item" data-ng-repeat="comment in comments" >
							<img class="ui avatar image" data-ng-src="http://www.gravatar.com/avatar">
							<div class="content">
								<a class="header">{{comment.username}}</a>
								<div class="description">{{comment.text}}</div>
							</div>
						</div>
					</div>
					<form class="ui form" novalidate data-ng-submit="addComment(cmt)" name="commentForm">
						<div class="two fields">
							<div class="required field" data-ng-class="{error: (commentForm.username.$invalid && commentForm.username.$dirty)}">
								<label>Name</label>
								<div class="ui icon input">
									<input type="text" placeholder="Name" name="username" data-ng-model="cmt.username" required>
									<i class="user icon"></i>
								</div>
								<div ng-messages="commentForm.username.$error">
									<div data-ng-include="'messages.tpl.html'"></div>
								</div>
							</div>
							<div class="field"></div>
						</div>
						<div >
							<div class="required field" data-ng-class="{error: (commentForm.email.$invalid && commentForm.email.$dirty)}">
								<label>Email</label>
								<div class="ui icon input">
									<input type="email" name="email" data-ng-model="cmt.email" required placeholder="Email">
									<i class="lock icon"></i>
								</div>
								<div ng-messages="commentForm.email.$error">
								
									
									<div
class="ui red pointing prompt label transition visible"
ng-message="required">This filed is required
</div>
<div
class="ui red pointing prompt label transition visible"
ng-message="email">Enter Valid email
</div>

									
									
									
									
								</div>
							</div>
							<div class="field"></div>
						</div>
						<div >
							<div class="required field" data-ng-class="{error: (commentForm.text.$invalid && commentForm.text.$dirty)}">
								<label>Comment</label>
								<textarea name="text" data-ng-model="cmt.text" required></textarea>
								<div ng-messages="commentForm.text.$error">
									<div data-ng-include="'messages.tpl.html'"></div>
								</div>
							</div>
							<div class="field"></div>
						</div>
						<button type="submit" class="ui submit teal button" data-ng-disabled="commentForm.$invalid">Submit</submit>
					</form>
				</div>
			</div>
		</div>
		<script src="//cdn.rawgit.com/blueimp/JavaScript-MD5/master/js/md5.min.js"></script>
								
								
								
								
								
		</div>
		

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

					
					
					<script type="text/javascript"></script><script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>



<script type='text/javascript' src='http://demo.goodlayers.com/greennature/wp-content/themes/greennature/javascript/gdlr-script.js?ver=1.0'></script>


			
			<div  class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay" ></div>

<div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container" >
	<div class="greennature-payment-lightbox-inner" >
		<form ng-controller="ShowProjectDetailsCtrl" class="greennature-payment-form" id="greennature-payment-form" data-ajax="http://demo.goodlayers.com/greennature/wp-admin/admin-ajax.php" ng-submit="donate(mail,project.projectName,project.estimation_price,RIB)" >
			<h3 class="greennature-payment-lightbox-title">
				<span class="greennature-head">Donation pour le projet :</span>
				<span class="greennature-tail">{{project.projectName}}</span>
			</h3>
			
			<div class="greennature-payment-amount" >
				<div class="greennature-payment-amount-head" >le projet a besoin de :</div>
		<a class="greennature-payment-price-preset greennature-active" data-val="{{price}}" > {{price}}</a>DT
				<input class="greennature-payment-price-fill" type="text"  placeholder="Montant(DT)" />
				<input class="greennature-payment-price" type="hidden" name="amount" value="10" />
				<input class="greennature-payment-price" type="hidden" name="a3" value="10">
							</div>
			
			
					<div class="greennature-paypal-attribute">
				<span class="greennature-head">Aimeriez-vous faire des dons réguliers?</span>
				<span class="greennature-subhead">Je voudrais que la donation se fait: </span>
				<select name="t3" class="greennature-recurring-option" >
					<option value="0">tous les jours</option>
					<option value="W">chaque semaine </option>
					<option value="M">chaque mois</option>
					<option value="Y">une fois par an</option>
				</select>
				<span class="greennature-subhead" >donation(s)</span>
				
								
			</div>
						
						
				<div class="greennature-form-fields">
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Nom *</span>
						<input class="greennature-require" type="text" name="name">
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Prénom *</span>
						<input class="greennature-require" type="text" name="last-name">
					</div>
				</div>
				<div class="clear"></div>
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Votre adresse email *</span>
						<input class="greennature-require greennature-email" ng-model="mail" type="text" name="email">
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Numéro de téléphone</span>
						<input type="text" name="phone">
					</div>
				</div>		
				<div class="clear"></div>
				<div class="six columns">
					<div class="columns-wrap greennature-left">
						<span class="greennature-head">Votre adresse</span>
						<textarea name="address"></textarea>
					</div>
				</div>
				<div class="six columns">
					<div class="columns-wrap greennature-right">
						<span class="greennature-head">Note complémentaire</span>
						<textarea name="additional-note"></textarea>
					</div>
				</div>		
				<div class="clear"></div>
			</div>	
			
		
			<fieldset>
    
     <legend style="color:black"> Virement bancaire</legend>
      <img src="img/visa.gif" />
	<br>
	<br>
	<ul>
      <li>
        <label for=numero_de_carte>Numéro de carte</label>
        <input id=numero_de_carte name=numero_de_carte ng-model="RIB" type=number required>
      </li>
      <li>
        <label for=securite>Code sécurité</label>
        <input id=securite name=securite type=number required>
      </li>
      <li>
        <label for=nom_porteur>Nom du porteur</label>
        <input id=nom_porteur name=nom_porteur type=text placeholder="Même nom que sur la carte" required>
      </li>
    </ul>
  </fieldset>
			<hr>
		
			<div class="greennature-payment-method" >
			<img class="greennature-active" src="http://demo.goodlayers.com/greennature/wp-content/themes/greennature/images/paypal.png" alt="paypal" />
			
    <paypal-button business="rim.methni@esprit.tn" language-code="it_IT" currency-code="EUR" item-name="My nice item description" amount="100"></paypal-button>
			</div>		
			
			
			<input type="submit" value="Donation" /> 
		</form>
	</div>		
</div>	



					
					
					
					
					
					
					
					
					
   
	
			
			
</html>
