
<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-top: 200px; padding-bottom: 15px; " >
<div id="main">
    <style>
    #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#ffffff; 
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
} 
		label,p{
		color:white;
		}
    </style>
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>
<h1 id="cmsms_heading_56be4d92effeb" class="cmsms_heading">Connectez vous à votre Compte</h1>
<div id="cmsms_row_56be4da60c692" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
{{error}}
    
<div id="cmsms_divider_56be4d92f008f" class="cl"></div>
    <form ng-submit="login(user)">
        
	<label for="cmsms_your_email">Nom d'utilisateur <span class="color_2">*</span></label>
<input  ng-model="user.username"  class="form-control" placeholder="Nom d'utilisateur" required/>
       <br>
	<label for="cmsms_your_email">Mot de passe <span class="color_2">*</span></label>
<input  ng-model="user.password"  class="form-control" placeholder="Mot de passe"       type="password" required/>
		
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>

<button type="submit" class="btn  btn-block" style="background-color:#5DC269;color:white;font-weight:bold">S'authentifier</button><br/>
    </form>
	<br>
{{message}}
	<br>
    </div></div></div></div></div></div></div>
</div>