<div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"  id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('img/form.jpg'); padding-top: 200px; padding-bottom: 15px; " >
<div id="main">
    <style>
    #cmsms_divider_56be4d92f008f { 
	padding-top:50px; 
	margin-bottom:0px; 
} 
        #cmsms_heading_56be4d92effeb, #cmsms_heading_56be4d92effeb a { 
	color:#ffffff;
	text-align:center; 
	font-weight:300; 
	font-style:normal; 
	margin-top:0px; 
	margin-bottom:20px; 
} 
		
				label,p{
		color:white;
		}
    </style>
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>
<h1 id="cmsms_heading_56be4d92effeb" class="cmsms_heading">Créer votre compte de représentant d'une association</h1>
<div id="cmsms_row_56be4da60c692" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
{{error}}
     <script>
   //Program a custom submit function for the form
$("form#data").submit(function(event){
 
  //disable the default form submission
  event.preventDefault();
 
  //grab all form data  
  var formData = new FormData($(this)[0]);
 
  $.ajax({
    url: 'http://bledi--ndhifa.herokuapp.com/images/add',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
    contentType: false,
    processData: false,
    success: function (returndata) {
      
      //angular.element(document.getElementById('data')).scope().addBlog();
      var scope = angular.element($("#data")).scope();
        scope.register(scope.user, returndata,function(){
    });
    }
                      
  });
 
  return false;
});
    
    </script>
    
<div id="cmsms_divider_56be4d92f008f" class="cl"></div>
    <form ng-controller="RegisterAssociationCtrl" id="data">
        
	<label for="cmsms_your_email">Nom d'utilisateur <span class="color_2">*</span></label>
<input  ng-model="user.username"  class="form-control" placeholder="Nom d'utilisateur" required/>
       
	<label for="cmsms_your_email">Prénom <span class="color_2"></span></label>
<input  ng-model="user.firstName"  class="form-control" placeholder="Prénom"/>
       
	<label for="cmsms_your_email">Nom <span class="color_2">*</span></label>
<input  ng-model="user.lastName"  class="form-control" placeholder="Nom" />
       
	<label for="cmsms_your_email">E-mail <span class="color_2">*</span></label>
<input  type="email" ng-model="user.email"  class="form-control" placeholder="E-mail" required/>
       
	<label for="cmsms_your_email">Mot de passe <span class="color_2">*</span></label>
<input  ng-model="user.password"  class="form-control" placeholder="Mot de passe"       type="password" required/>

	<label for="cmsms_your_email">Confirmation mot de passe <span class="color_2">*</span></label>
<input  ng-model="user.password2" class="form-control" placeholder="Confirmation mot de passe" type="password" required/>
		 		<label for="cmsms_your_email">Image<span class="color_2">*</span></label>
		 		<div class="form_field_wrap">
		 			<input type="file" size="200" name="file" class="form-control" required>
		 		</div>
        
    <div id="cmsms_divider_56be4d92f008f" class="cl"></div>
<button type="submit" class="btn btn-primary btn-block">S'enregistrer</button><br/>
    </form>
{{message}}
    </div></div></div></div></div></div></div>
</div>