
<div class="archive post-type-archive post-type-archive-tribe_events tribe-filter-live tribe-events-uses-geolocation events-list events-archive tribe-events-style-full tribe-events-style-theme tribe-theme-econature tribe-events-page-template" ng-controller="EventsController">
	
    <style></style>
<!-- _________________________ Start Page _________________________ -->
<section id="page" class="csstransition cmsms_liquid fixed_header hfeed site" >
<!-- _________________________ Start Main _________________________ -->
<div id="main">
	
<!-- _________________________ Start Header _________________________ -->

<!-- _________________________ Finish Header _________________________ -->

	
<!-- _________________________ Start Middle _________________________ -->

<style type="text/css">.headline_color {
				background-color:#000000;
				opacity:0;
			}
			.headline_aligner {
				min-height:70px;
			}
		</style>

	<div class="greennature-page-title-wrapper header-style-5-title-wrapper">
	
				<h1 class="greennature-page-title">Evenements à venir</h1>
								
					
		</div>
	
	<div class="middle_inner">
<section class="content_wrap r_sidebar">

<!--_________________________ Start Content _________________________ -->
<div class="content entry" role="main">
	<div id="tribe-events-pg-template" class="container">
	<div id="tribe-events" class="tribe-no-js" data-live_ajax="1" data-datepicker_format="2" data-category=""><div class="tribe-events-before-html"></div><span class="tribe-events-ajax-loading"><img class="tribe-events-spinner-medium" src="../wp-content/plugins/the-events-calendar/src/resources/images/tribe-loading.gif" alt="Loading Events" /></span><div id="tribe-events-content-wrapper" class="tribe-clearfix"><input type="hidden" id="tribe-events-list-hash" value="">
	<!-- Tribe Bar -->
<div id="tribe-events-bar">
	<form id="tribe-bar-form" class="tribe-clearfix" name="tribe-bar-form" method="post" action="http://eco-nature.cmsmasters.net/events?post_type=tribe_events&amp;eventDisplay=default">
		
		<!-- Mobile Filters Toggle -->
		<div id="tribe-bar-collapse-toggle" >
			Find Events<span class="tribe-bar-toggle-arrow"></span>
		</div>
		
		
					<div class="tribe-bar-filters">
				<div class="tribe-bar-filters-inner tribe-clearfix">
									
											<div class="tribe-bar-search-filter">
							<label class="label-tribe-bar-search" for="tribe-bar-search"></label>
							<input type="text" name="tribe-bar-search" id="tribe-bar-search" value="" placeholder="{{'events.Rechercher' | translate }}" ng-model="filter_name" >						</div>
										
			
				</div>
			</div>
				
		
		
		
	</form>
</div>
        
        
     

	<!-- Main Events Content -->

<div id="tribe-events-content" class="tribe-events-list">

	<!-- List Header -->
    	<div id="tribe-events-header"  data-title="Upcoming Events &#8211; Events &#8211; Eco Nature" data-startofweek="1" data-view="list" data-baseurl="http://eco-nature.cmsmasters.net/events/list/" data-mobilebreak="0">
		
	
				
<h3 class="tribe-events-visuallyhidden">Events List Navigation</h3>
<ul class="tribe-events-sub-nav">
	<!-- Left Navigation -->

			<li class="tribe-events-nav-previous tribe-events-nav-left tribe-events-past">

	
	<!-- Right Navigation -->
			<li class="tribe-events-nav-next tribe-events-nav-right">
			<a href="list/index11d9.html?tribe_event_display=list&amp;tribe_paged=2" rel="next">Next Events <span>&raquo;</span></a>
		</li><!-- .tribe-events-nav-right -->
	</ul>
				
	</div>
	
	<!-- Notices -->
	
	<!-- Events Loop -->
					

<div class="tribe-events-loop"  ng-repeat="ev in events | filter:filter_name |  orderBy: 'startDate':true" ng-controller="EventsController">

    	<div>
			
		
					
		<!-- Month / Year Headers -->
		<span class='tribe-events-list-separator-month'><span>{{ev.startDate | date: 'dd-MM-yyyy HH:mm' }}</span></span>
		<!-- Event  -->
				<div id="post-3364" class="vevent type-tribe_events post-3364 tribe-clearfix tribe-events-venue-3340 tribe-events-organizer-3339 tribe-events-last"  data-parent-post-id="3337">
			
<!-- Event Image -->
<div class="tribe-events-event-image"><a href="../event/greenhouse-gas-emissions/2015-12-10/index.html"><img width="580" height="460" src="http://localhost:3000/uploads/{{ev.image_id.link}}" /></a></div>
<div class="cmsms_events_list_event_wrap">
	<div class="cmsms_events_list_event_header">
		<!-- Event Cost -->
		 
			
				
		
		<!-- Event Title -->
				<h2 class="tribe-events-list-event-title entry-title summary">
			<a class="url" href="#/events/{{ev._id}}" title="Annual Clean Power Healthy Communities Conference" rel="bookmark">
				{{ev.nameEvent}}			</a>
		</h2>
			</div>
	
	
	<!-- Event Meta -->
		<div class="tribe-events-event-meta vcard">
		<div class="author  location">
			
			<!-- Schedule & Recurrence Details -->
			<div class="updated published time-details">
				<span class="tribe-event-date-start">{{ev.startDate |date: 'dd-MM-yyyy HH:mm'}}</span><div class="recurringinfo"><div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="../event/annual-clean-power-healthy-communities-conference/all/index.html"></a><div id="tribe-events-tooltip-3364" class="tribe-events-tooltip recurring-info-tooltip"><span class="tribe-events-arrow"></span></div></div></div>			</div>

							<!-- Venue Display Info -->
				<div class="tribe-events-venue-details">
					<span class="author fn org"><a href="../venue/california-endowment-conference-center/index.html">{{ev.region}}</a></span>, 			</div> <!-- .tribe-events-venue-details -->
						
		</div>
	</div><!-- .tribe-events-event-meta -->
	

	<!-- Event Content -->
		<div class="tribe-events-list-event-description tribe-events-content description entry-summary">
		<p>{{ev.description}}</p>
		<a href="#/events/{{ev._id}}" class="tribe-events-read-more" rel="bookmark" translate='events.det'>plus de détails &raquo;</a>
	</div><!-- .tribe-events-list-event-description -->
	</div>
		</div>


</div>
			
</div><!-- .tribe-events-loop -->
			
	<!-- List Footer -->


</div><!-- #tribe-events-content -->

	<div class="tribe-clear"></div>

</div> <!-- #tribe-events-content-wrapper --><div class="tribe-events-after-html"></div></div><!-- #tribe-events -->
<!--
This calendar is powered by The Events Calendar.
http://eventscalendarpro.com/
-->
<div class="cl"></div></div> <!-- #tribe-events-pg-template -->
</div>
<!-- _________________________ Finish Content _________________________ -->

  <!-- _________________________ Start Sidebar _________________________ -->
      <div class="sidebar" role="complementary">
        <aside id="search-2" class="widget widget_search">
          <div class="search_bar_wrap">
            <form method="get">
              <p>
                <input name="s" placeholder="Rechercher un evenement" ng-model="filter_name" value="" type="text" />
                <button type="submit" class="cmsms-icon-search-7"></button>
              </p>
            </form>
          </div>
        </aside>
       
        <aside id="cmsms_paypal" class="widget widget_custom_paypal_donations">
          <div class="cmsms_paypal_donations_widget">
            <h3 class="widgettitle">Donate</h3>
           <p>Donec fringilla, erat et semper eleifend, justo quam sodales a vehicula ipsum libero eget mi. Integer condimentum, nibh aliquet.</p>
            <a href="#" class="button">DONATE NOW!</a>
          </div>
        </aside>
        <aside ng-controller="EventsController" id="recent-posts-2" class="widget widget_recent_entries">
          <h3 class="widgettitle">Evenements Recents</h3>
          <ul>
            <li ng-repeat="event in events | filter:filter_name | orderBy: 'startDate':true "><a href="#/events/{{event._id}}" title="{{event.nameEvent}}">{{event.nameEvent}}</a></li>
            </li>
          </ul>
        </aside>
     
      </div>
      <!-- _________________________ Finish Sidebar _________________________ -->
</section>
    
       

    
    
    
</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->


<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
</div>
<!-- _________________________ Finish Main _________________________ -->


</section>
<!-- _________________________ Finish Page _________________________ -->


    
     <!-- angular scripts -->


  <!-- end angular scripts -->
    
    
    
    
    </div>

