
<div class="archive post-type-archive post-type-archive-tribe_events tribe-filter-live tribe-events-uses-geolocation events-list events-archive tribe-events-style-full tribe-events-style-theme tribe-theme-econature tribe-events-page-template" ng-controller="EventsController">
	
    <style></style>
    
  
<!-- _________________________ Start Page _________________________ -->
<section id="page" class="csstransition cmsms_liquid fixed_header hfeed site" >
<!-- _________________________ Start Main _________________________ -->
<div id="main">
	 <div class="greennature-page-title-overlay"></div>
    
    
    
 <!--   <section id="content-section-3" ><div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin"  id="greennature-parallax-wrapper-1" data-bgspeed="0.11" style="background-image: url('img/title-bg.jpg'); padding-top: 90px; padding-bottom: 65px; " ><div class="container"><div class="six columns" ><div class="greennature-item greennature-action-ads-item"  style="background: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/donation-bg-1.jpg'); " ><h3 class="action-ads-title" style="color: #facc2e;">Participer à nos evenements</h3><div class="action-ads-caption greennature-skin-info">regoiner nous</div><div class="action-ads-divider" style="background: #facc2e;"></div><div class="action-ads-content"><p>Tout au long de l'année, Blédi Ndhifa organise des événements qui ont pour objectifs de sensibiliser et informer le grand public à lutte contre la pollution sur toute la tunisie. Le succès de ces événements repose aussi sur vos participation..</p>
<a class="action-ads-button large greennature-button greennature-lb-payment" href="#" style="color: #6d5b1c;background-color: #fec428;" >la Tunisie a besoin de vous</a></div></div></div><div class="six columns" ><div class="greennature-item greennature-action-ads-item"  style="background: url('http://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/donation-bg-2.jpg'); " ><h3 class="action-ads-title" style="color: #5dc269;">Stop Drilling, Need Action!</h3><div class="action-ads-caption greennature-skin-info">Your voice does matter</div><div class="action-ads-divider" style="background: #5dc269;"></div><div class="action-ads-content"><p>The Obama administration just granted Shell&#8217;s final permit to drill in the Alaskan Arctic this summer despite overwhelming global public opposition and the obvious risks to Arctic communities, wildlife, and our climate. But this isn’t over. The President knows what’s at stake: his climate legacy.</p>
<a class="action-ads-button large greennature-button" style="color: #ffffff;background-color: #5dc269;" href="http://demo.goodlayers.com/greennature/act-now/" >Act Now!</a></div></div></div><div class="clear"></div></div></div><div class="clear"></div></section>-->
    
    
<!-- _________________________ Start Header _________________________ -->

<!-- _________________________ Finish Header _________________________ -->

	
<!-- _________________________ Start Middle _________________________ -->

<style type="text/css">.headline_color {
				background-color:#000000;
				opacity:0;
			}
			.headline_aligner {
				min-height:70px;
			}
		</style>

	<div class="greennature-page-title-wrapper ">
		
			
				<h1 class="widgettitle">Evenements à venir</h1>
								
								
		</div>
	
	<div class="middle_inner">
<section class="content_wrap r_sidebar">
    
    
    
    <div class="greennature-standard-style">

		
		
		
		

			
    

<!--_________________________ Start Content _________________________ -->
<div class="content entry" role="main">
	 
	<div id="tribe-events-pg-template" class="container">
	<div id="tribe-events" class="tribe-no-js" data-live_ajax="1" data-datepicker_format="2" data-category=""><div class="tribe-events-before-html"></div><span class="tribe-events-ajax-loading"><img class="tribe-events-spinner-medium" src="../wp-content/plugins/the-events-calendar/src/resources/images/tribe-loading.gif" alt="Loading Events" /></span><div id="tribe-events-content-wrapper" class="tribe-clearfix"><input type="hidden" id="tribe-events-list-hash" value="">
	<!-- Tribe Bar -->

        
        
<script type="text/javascript">
jQuery(document).ready(function () {
	(function ($) {
		if ($('#blog_56be4e109e4b2').find('article').length == '0') {
			return false;
		}
		
	
		startBlog( 
			'56be4e109e4b2', 
			'columns', 
			'masonry', 
			'/wp-content/plugins/cmsms-content-composer/index.html', 
			'date', 
			'DESC', 
			'12', 
			'', 
			'date,categories,author,comments,likes' 
		);
	} )(jQuery);
} );
</script>        
        
        	<!-- Main Events Content -->

<div id="tribe-events-content" class="tribe-events-list">


    
    <div class="tribe-events-loop"  ng-repeat="ev in events  |filter:filter_name |  orderBy: 'startDate':true" ng-controller="EventsController">

    	<div>
			
		
					
		<!-- Month / Year Headers -->
		<span class='tribe-events-list-separator-month'><span>{{ev.startDate | date: 'dd-MM-yyyy HH:mm' }}</span></span>
		<!-- Event  -->
				<div id="post-3364" class="vevent type-tribe_events post-3364 tribe-clearfix tribe-events-venue-3340 tribe-events-organizer-3339 tribe-events-last"  data-parent-post-id="3337">
			
<!-- Event Image -->
<div class="tribe-events-event-image"><a href="#/events/{{ev._id}}"><img width="580" height="460" src="http://localhost:3000/uploads/{{ev.image_id.link}}" /></a></div>
<div class="cmsms_events_list_event_wrap">
	<div class="cmsms_events_list_event_header">
		<!-- Event Cost -->
		 
			
				
		
		<!-- Event Title -->
				<h2 class="tribe-events-list-event-title entry-title summary">
			<a class="url" href="#/events/{{ev._id}}" title="Annual Clean Power Healthy Communities Conference" rel="bookmark">
				{{ev.nameEvent}}			</a>
		</h2>
			</div>
	
	
	<!-- Event Meta -->
		<div class="tribe-events-event-meta vcard">
		<div class="author  location">
			
			<!-- Schedule & Recurrence Details -->
			<div class="updated published time-details">
				<span class="tribe-event-date-start">{{ev.startDate |date: 'dd-MM-yyyy HH:mm'}}</span>			</div>

							<!-- Venue Display Info -->
				<div class="tribe-events-venue-details">
					<span class="author fn org"><a href="#/events/{{ev._id}}">{{ev.region}}</a></span>		</div> <!-- .tribe-events-venue-details -->
						
		</div>
	</div><!-- .tribe-events-event-meta -->
	

	<!-- Event Content -->
		<div class="tribe-events-list-event-description tribe-events-content description entry-summary">
		<a href="#/events/{{ev._id}}" class="tribe-events-read-more" rel="bookmark" translate='events.det'>Voir Description &raquo;</a>
	</div><!-- .tribe-events-list-event-description -->
	</div>
		</div>


</div>
    
			

    
    </div>
        </div>
    
    
	
	<!-- Notices -->
	
	<!-- Events Loop -->
					
<!-- .tribe-events-loop -->
			
	<!-- List Footer -->


</div><!-- #tribe-events-content -->

	<div class="tribe-clear"></div>

</div> <!-- #tribe-events-content-wrapper --><div class="tribe-events-after-html"></div></div><!-- #tribe-events -->
<!--
This calendar is powered by The Events Calendar.
http://eventscalendarpro.com/
-->

<div class="cl"></div></div>
    


    
    
    <!-- #tribe-events-pg-template -->						
    <!--	<div class="greennature-pagination"><span class="page-numbers current">1</span>
<a class="page-numbers" href="http://demo.goodlayers.com/greennature/blog-full-with-right-sidebar/page/2/">2</a>
<a class="page-numbers" href="http://demo.goodlayers.com/greennature/blog-full-with-right-sidebar/page/3/">3</a>
<a class="next page-numbers" href="http://demo.goodlayers.com/greennature/blog-full-with-right-sidebar/page/2/">Next ›</a></div>-->
								

							</div>
	
	

    
    
<!-- _________________________ Finish Content _________________________ -->

  <!-- _________________________ Start Sidebar _________________________ -->
      <div class="sidebar" role="complementary">
        <aside id="search-2" class="widget widget_search">
          <div class="search_bar_wrap">
            <form method="get">
              <p>
                <input name="s" placeholder="{{'events.Rechercher' | translate }}" ng-model="filter_name" value="" type="text" />
                <button type="submit" class="cmsms-icon-search-7"></button>
              </p>
            </form>
          </div>
        </aside>
       
        
        <div id="gdlr-recent-portfolio-widget-2" class="widget widget_gdlr-recent-portfolio-widget greennature-item greennature-widget"><h3 class="greennature-widget-title">Evenements Recents</h3><div class="clear"></div><div class="greennature-recent-port-widget" ng-repeat="event in events | filter:filter_name | orderBy: 'startDate':true | limitTo: 3" ><div class="recent-post-widget"><div class="recent-post-widget-thumbnail"><a href="#/events/{{event._id}}"><img src="http://localhost:3000/uploads/{{event.image_id.link}}" alt="" width="150" height="150"></a></div><div class="recent-post-widget-content"><div class="recent-post-widget-title"><a href="#/events/{{event._id}}">{{event.nameEvent}}</a></div><div class="recent-post-widget-info"><div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#/events/{{event._id}}">{{event.startDate |date: 'dd-MM-yyyy HH:mm'}}</a></div><div class="clear"></div></div></div><div class="clear"></div></div><div class="clear"></div></div></div>
        <aside id="cmsms_paypal" class="widget widget_custom_paypal_donations">
          <div class="cmsms_paypal_donations_widget">
            <h3 class="widgettitle">Donate</h3>
           <p>Donec fringilla, erat et semper eleifend, justo quam sodales a vehicula ipsum libero eget mi. Integer condimentum, nibh aliquet.</p>
            <a href="#" class="button">DONATE NOW!</a>
          </div>
        </aside>
          
           <div id="gdlr-recent-portfolio-widget-2" class="widget widget_gdlr-recent-portfolio-widget greennature-item greennature-widget"><h3 class="greennature-widget-title">Populaires</h3><div class="clear"></div><div class="greennature-recent-port-widget" ng-repeat="event in events | filter:filter_name | orderBy: 'event.participants.length':true | limitTo: 3" ><div class="recent-post-widget"><div class="recent-post-widget-thumbnail"><a href="#/events/{{event._id}}"><img src="http://localhost:3000/uploads/{{event.image_id.link}}" alt="" width="150" height="150"></a></div><div class="recent-post-widget-content"><div class="recent-post-widget-title"><a href="#/events/{{event._id}}">{{event.nameEvent}}</a></div><div class="recent-post-widget-info"><div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#/events/{{event._id}}">{{event.startDate |date: 'dd-MM-yyyy HH:mm'}}</a><br><a href="#/events/{{event._id}}">{{event.participants.length}}<span> Participants</span></a>
               </div><div class="clear"></div></div></div><div class="clear"></div></div><div class="clear"></div></div></div>
          
          
       <div id="tag_cloud-2" class="widget widget_tag_cloud greennature-item greennature-widget"><h3 class="greennature-widget-title">Tags</h3><div class="clear"></div><div class="tagcloud"><a href="http://demo.goodlayers.com/greennature/tag/animal/" class="tag-link-11" title="1 topic" style="font-size: 8pt;">Animal</a>
<a href="http://demo.goodlayers.com/greennature/tag/aside/" class="tag-link-12" title="1 topic" style="font-size: 8pt;">Aside</a>
<a href="http://demo.goodlayers.com/greennature/tag/audio/" class="tag-link-13" title="2 topics" style="font-size: 11.2307692308pt;">Audio</a>
<a href="http://demo.goodlayers.com/greennature/tag/blog/" class="tag-link-14" title="9 topics" style="font-size: 20.5641025641pt;">Blog</a>
<a href="http://demo.goodlayers.com/greennature/tag/business/" class="tag-link-15" title="4 topics" style="font-size: 15.1794871795pt;">Business</a>
<a href="http://demo.goodlayers.com/greennature/tag/identity-2/" class="tag-link-17" title="3 topics" style="font-size: 13.3846153846pt;">identity</a>
<a href="http://demo.goodlayers.com/greennature/tag/life-stlyle/" class="tag-link-74" title="1 topic" style="font-size: 8pt;">Life Stlyle</a>
<a href="http://demo.goodlayers.com/greennature/tag/life-style/" class="tag-link-18" title="11 topics" style="font-size: 22pt;">Life Style</a>
<a href="http://demo.goodlayers.com/greennature/tag/link/" class="tag-link-19" title="2 topics" style="font-size: 11.2307692308pt;">Link</a>
<a href="http://demo.goodlayers.com/greennature/tag/news/" class="tag-link-20" title="4 topics" style="font-size: 15.1794871795pt;">News</a>
<a href="http://demo.goodlayers.com/greennature/tag/post-format/" class="tag-link-21" title="4 topics" style="font-size: 15.1794871795pt;">Post format</a>
<a href="http://demo.goodlayers.com/greennature/tag/quote/" class="tag-link-22" title="1 topic" style="font-size: 8pt;">Quote</a>
<a href="http://demo.goodlayers.com/greennature/tag/safari/" class="tag-link-23" title="1 topic" style="font-size: 8pt;">Safari</a>
<a href="http://demo.goodlayers.com/greennature/tag/travel/" class="tag-link-24" title="1 topic" style="font-size: 8pt;">Travel</a>
<a href="http://demo.goodlayers.com/greennature/tag/video/" class="tag-link-25" title="1 topic" style="font-size: 8pt;">Video</a></div>
</div>   
          
   
     
      </div>
	
    
        

 
    
      <!-- _________________________ Finish Sidebar _________________________ -->
</section>
    
       

    
    
    
</div>
	
	
<!-- _________________________ Finish Middle _________________________ -->


<a href="javascript:void(0);" id="slide_top" class="cmsms-icon-up-open-mini"></a>
</div>
<!-- _________________________ Finish Main _________________________ -->


</section>
<!-- _________________________ Finish Page _________________________ -->

    
    
     <!-- angular scripts -->


  <!-- end angular scripts -->
    
    
    
    
    </div>

