<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Upcoming Events &#8211; Events &#8211; Eco Nature</title>
	<atom:link href="http://eco-nature.cmsmasters.net/events/feed/" rel="self" type="application/rss+xml" />
	<link>http://eco-nature.cmsmasters.net</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Tue, 26 Jan 2016 14:52:29 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Greenhouse gas emissions</title>
		<link>http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2015-12-10/</link>
		<pubDate>Thu, 10 Dec 2015 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;p=3324</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style>]]></content:encoded>
			</item>
		<item>
		<title>Greenhouse gas emissions</title>
		<link>http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2016-01-10/</link>
		<pubDate>Sun, 10 Jan 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-01-10#038;p=3324</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style>]]></content:encoded>
			</item>
		<item>
		<title>Greenhouse gas emissions</title>
		<link>http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2016-02-10/</link>
		<pubDate>Wed, 10 Feb 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-02-10#038;p=3324</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style>]]></content:encoded>
			</item>
		<item>
		<title>Annual Clean Power Healthy Communities Conference</title>
		<link>http://eco-nature.cmsmasters.net/event/annual-clean-power-healthy-communities-conference/2016-02-18/</link>
		<pubDate>Thu, 18 Feb 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-02-18#038;p=3337</guid>
		<description><![CDATA[Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie...]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Greenhouse gas emissions</title>
		<link>http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2016-03-10/</link>
		<pubDate>Thu, 10 Mar 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-03-10#038;p=3324</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style>]]></content:encoded>
			</item>
		<item>
		<title>Annual Clean Power Healthy Communities Conference</title>
		<link>http://eco-nature.cmsmasters.net/event/annual-clean-power-healthy-communities-conference/2016-03-18/</link>
		<pubDate>Fri, 18 Mar 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-03-18#038;p=3337</guid>
		<description><![CDATA[Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie...]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Greenhouse gas emissions</title>
		<link>http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2016-04-10/</link>
		<pubDate>Sun, 10 Apr 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-04-10#038;p=3324</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style>]]></content:encoded>
			</item>
		<item>
		<title>Annual Clean Power Healthy Communities Conference</title>
		<link>http://eco-nature.cmsmasters.net/event/annual-clean-power-healthy-communities-conference/2016-04-18/</link>
		<pubDate>Mon, 18 Apr 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-04-18#038;p=3337</guid>
		<description><![CDATA[Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie...]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Greenhouse gas emissions</title>
		<link>http://eco-nature.cmsmasters.net/event/greenhouse-gas-emissions/2016-05-10/</link>
		<pubDate>Tue, 10 May 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-05-10#038;p=3324</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style>]]></content:encoded>
			</item>
		<item>
		<title>Annual Clean Power Healthy Communities Conference</title>
		<link>http://eco-nature.cmsmasters.net/event/annual-clean-power-healthy-communities-conference/2016-05-18/</link>
		<pubDate>Wed, 18 May 2016 08:00:00 +0000</pubDate>
		<dc:creator><![CDATA[backdoor]]></dc:creator>
		
		<guid isPermaLink="false">http://eco-nature.cmsmasters.net/?post_type=tribe_events&#038;eventDate=2016-05-18#038;p=3337</guid>
		<description><![CDATA[Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie...]]></description>
				<content:encoded><![CDATA[<style type="text/css"></style><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et et dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis. Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
